body {
    height: 100vh;
    font-family: Calibri;
}

.container-fluid {
    margin: 0;
    height: 100%;
}

#headingRow {
    height: 6%;
    width:100%;
    position: fixed
}

#sideMenuButton {
    background-color: white;
}

#headingRow .col-md-1 {
    padding: 0;
}

#headingRow .btn-default {
    border: 0;
}

#pageHeaderImage {
    max-height: 100%;
}

#pageHeader {
    display: inline-block;
    vertical-align: bottom;
    color: black;
    margin: 0;
    margin-left: 2px;
}

#contents {
    height: 93.75vh;
    margin-top: 5vh;
}

#legislators, #bills, #committees, #favourites {
    cursor: pointer;
}

.sideMenu div {
    margin-top: 25px;
}

.sideMenu div.activeSideMenu span, .sideMenu div.activeSideMenu i{
    color: white;
}

.sideMenu div span, .sideMenu div i{
    color: #989898;
}

#sideMenuContents {
    background: #f3f3f3;
    padding-left: 5px;
    height: 100%;
}

#legislatorsContent {
    width: 100%;
    height: 93.5vh;
    overflow-y: auto;
}

#legislatorsContent h3{
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #d9d9d9;
}

#committeeContent, #favouritesContent {
    display: none;
    width: 100%;
    height: 87.85vh;
}

#legislatorsMainBody {
    padding: 0;
    margin-right: 5px;
    min-height: 88vh;
    background: white;
}

.legislatorParty {
    max-height: 100%;
    max-width: 100%;
    width: 15%;
}

li.active {
    border-bottom: 1px solid #ddd;
}
/* navbar */

/* link */
.nav-tabs > li > a {
    color: #e0e0e0;
}

#houseTabContents {
    display: none;
}

#byState {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#house {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#senate {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#senateTabContents {
    display: none;
}

.pagination {
    margin: 10px 0px 0px 0px;
    border: 0;
}


#legislatorsTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#legislatorsCarousel {
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #4a4444;
    width: 98%;
    margin-left: 5px;
}

#legislatorDetails {
    padding: 0;
    min-height: 88vh;
    background: white;
}

#legislatorDetails nav div div .carousel-control {
    position: inherit;
    text-align: center;
    height: 100%;
    width: 50px;
    color: black;
    font-style: normal;
    text-shadow: none;
    padding: 0px 15px;
    font-weight: 900;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 1;
    font-size: 30px;
    margin-right: 22px;
    padding-left: 15px;
 }

#legislatorsHouseTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#legislatorsSenateTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

.progress-bar {
    background-color: #5fb760;
}


#billsContent {
    display: none;
    width: 100%;
    height: 93.5vh;
    overflow-y: auto;
}

#billsContent h3{
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #d9d9d9;
}

#billsMainBody {
    padding: 0;
    margin-right: 5px;
    min-height: 88vh;
    background: white;
}

#activeBills {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#activeBillsTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#billsCarousel {
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #4a4444;
    width: 98%;
    margin-left: 5px;
}

#billDetails {
    padding: 0;
    min-height: 88vh;
    background: white;
}

#billDetails nav div div .carousel-control {
    position: inherit;
    text-align: center;
    height: 100%;
    width: 50px;
    color: black;
    font-style: normal;
    text-shadow: none;
    padding: 0px 15px;
    font-weight: 900;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 1;
    font-size: 30px;
    margin-right: 22px;
    padding-left: 15px;
}

#newBills {
     margin-top: 1%;
     margin-left: 2%;
     margin-right: 2%;
     margin-bottom: 3%;
     min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
 }

#committeesContent {
    display: none;
    width: 100%;
    height: 93.5vh;
    overflow-y: auto;
}
#committeesContent h3{
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #d9d9d9;
}

#committeesMainBody {
    padding: 0;
    width: 98%;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 86vh;
    background: white;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #4a4444;
}

#committeesHouse {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#committeesSenate {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#committeesJoint {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    min-height: 79vh;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

.favouritesButton {
    float: right;
    right: 0;
    margin: 4px;
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#favouritesContent {
    display: none;
    width: 100%;
    height: 93.5vh;
    overflow-y: auto;
}

#favouritesContent h3{
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 2px solid #d9d9d9;
}

#favouritesCarousel {
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #4a4444;
    width: 98%;
    margin-left: 5px;
}

#favouritesMainBody {
    padding: 0;
    margin-right: 5px;
    background: white;
}

#favouriteLegislators {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#favouriteLegislatorsTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#favouriteLegislatorDetails {
    padding: 0;
    min-height: 88vh;
    background: white;
}

#favouriteLegislatorDetails nav div div .carousel-control {
    position: inherit;
    text-align: center;
    height: 100%;
    width: 50px;
    color: black;
    font-style: normal;
    text-shadow: none;
    padding: 0px 15px;
    font-weight: 900;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 1;
    font-size: 30px;
    margin-right: 22px;
    padding-left: 15px;
}

.deleteButton {
    margin: 4px;
    font-size: 12px;
}

.deleteButton:hover {
    color: red;
}

#favouriteBills {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    border:1px solid #eeeeee;
    border-radius: 12px;
}

#favouriteBillsTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#favouriteCommittees {
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 3%;
    border:1px solid #eeeeee;
    border-radius: 12px;
    width: 98%;
    margin-left: 5px;
}

#favouriteCommitteesTable tbody tr .carousel-control {
    position: inherit;
    text-align: center;
    float: right;
    height: 25px;
    width: auto;
    font-style: normal;
    text-shadow: none;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 0.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#favouriteBillDetails {
    padding: 0;
    min-height: 88vh;
    background: white;
}

#favouriteBillDetails nav div div .carousel-control {
    position: inherit;
    text-align: center;
    height: 100%;
    width: 50px;
    color: black;
    font-style: normal;
    text-shadow: none;
    padding: 0px 15px;
    font-weight: 900;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    opacity: 1;
    font-size: 30px;
    margin-right: 22px;
    padding-left: 15px;
}

.legislatorPhoto {
    max-width: 55%;
    margin-left: 60px;
}

.favLegislatorImage {
    max-width: 40%;
}

/* --------------------------------------------------------------------------------MOBILE DEVICE------------------------------------------------------------------------------------------------------------*/

@media only screen and  (max-width: 767px) {

    .sideMenuLabel {
        display: none;
    }

    #sideMenuItems {
        height: 99%;
    }

    #headingRow {
        height: 5vh;
        width:100%;
        position: fixed;
    }

    #pageHeaderImage {
        width: 30%;
        height: 50%;
        margin-top: 2%;
    }

    #contents {
        height: 93vh;
        margin-top: 7vh;
        width: 100%;
        position: fixed;
        overflow: hidden;
    }

    #sideMenuContents {
        height: 100%;
    }

    #pageHeader {
        font-size: small;
    }

    #legislatorsContent {
        height: 100%;
    }

    #legislatorsContent h3 {
        margin-top: 2%;
    }

    #byState {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #byState .navbar-header {
        width: 40%;
        padding-left: 18px;
        display: inline-block;
    }

    #byState h4 {
        font-size: 16px;
    }

    #byState .navbar-form {
        width: 60%;
        border: 0;
    }

    #byState .navbar-form select {
        width: 100%;
    }

    #legislatorsMainBody {
        height: 84vh;
    }

    #legislatorsTable {
        min-width: 600px;
    }

    #legislatorDetails {
        overflow-y: auto;
    }

    .onlyDesktop {
        display: none;
    }

    #house {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #house .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #house h4 {
        font-size: 16px;
    }

    #house .navbar-form {
        width: 50%;
        border: 0;
    }

    #house .navbar-form select {
        width: 100%;
    }

    #legislatorsHouseTable {
        min-width: 600px;
    }

    #senate {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #senate .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #senate h4 {
        font-size: 16px;
    }

    #senate .navbar-form {
        width: 50%;
        border: 0;
    }

    #senate .navbar-form select {
        width: 100%;
    }

    #legislatorsSenateTable {
        min-width: 600px;
    }

    .legislatorParty {
        width: 35%;
    }

    .legislatorDetailsComBillTable {
        border: 1px solid #dddddd;
    }

    #billsContent {
        height: 100%;
        overflow-y: hidden;
    }

    #billsContent h3 {
        margin-top: 2%;
    }

    #activeBills {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #activeBills .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #activeBills h4 {
        font-size: 16px;
    }

    #activeBills .navbar-form {
        width: 50%;
        border: 0;
    }

    #activeBills .navbar-form input {
        width: 100%;
    }

    #activeBillsTable {
        min-width: 600px;
    }

    #billDetails {
        overflow-y: auto;
    }

    #newBills {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #newBills .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #newBills h4 {
        font-size: 16px;
    }

    #newBills .navbar-form {
        width: 50%;
        border: 0;
    }

    #newBills .navbar-form input {
        width: 100%;
    }

    #newBillsTable {
        min-width: 600px;
    }

    #committeesContent {
        height: 100%;
    }

    #committeesContent h3 {
        margin-top: 2%;
    }

    #committeesHouse {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #committeesHouse .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #committeesHouse h4 {
        font-size: 16px;
    }

    #committeesHouse .navbar-form {
        width: 50%;
        border: 0;
    }

    #committeesHouse .navbar-form input {
        width: 100%;
    }

    #committeesHouseTable {
        min-width: 600px;
    }

    #committeesSenateTable {
        min-width: 600px;
    }

    #committeesJointTable {
        min-width: 600px;
    }

    #committeesSenate {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #committeesSenate .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #committeesSenate h4 {
        font-size: 16px;
    }

    #committeesSenate .navbar-form {
        width: 50%;
        border: 0;
    }

    #committeesSenate .navbar-form input {
        width: 100%;
    }

    #committeesJoint {
        overflow-y: auto;
        height: 76vh;
        overflow-x: hidden;
    }

    #committeesJoint .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #committeesJoint h4 {
        font-size: 16px;
    }

    #committeesJoint .navbar-form {
        width: 50%;
        border: 0;
    }

    #committeesJoint .navbar-form input {
        width: 100%;
    }

    #favouritesContent {
        height: 100%;
    }

    #favouritesContent h3 {
        margin-top: 2%;
    }

    #favouriteLegislators {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #favouriteLegislators .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #favouriteLegislators h4 {
        font-size: 16px;
    }

    #favouriteLegislators .navbar-form {
        width: 50%;
        border: 0;
    }

    #favouriteLegislators .navbar-form input {
        width: 100%;
    }

    #favouriteLegislatorsTable {
        min-width: 600px;
        height: 100%;
    }

    #favouriteBills {
         overflow-y: auto;
         overflow-x: hidden;
     }

    #favouriteBills .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #favouriteBills h4 {
        font-size: 16px;
    }

    #favouriteBills .navbar-form {
        width: 50%;
        border: 0;
    }

    #favouriteBills .navbar-form input {
        width: 100%;
    }

    #favouriteBillsTable {
        min-width: 600px;
        height: 100%;
    }

    #favouriteCommittees {
         overflow-y: auto;
         overflow-x: hidden;
     }

    #favouriteCommittees .navbar-header {
        width: 50%;
        padding-left: 18px;
        display: inline-block;
    }

    #favouriteCommittees h4 {
        font-size: 16px;
    }

    #favouriteCommittees .navbar-form {
        width: 50%;
        border: 0;
    }

    #favouriteCommittees .navbar-form input {
        width: 100%;
    }

    #favouriteCommitteesTable {
        min-width: 600px;
        height: 100%;
    }

    .legislatorPhoto {
        max-width: 75%;
        margin-left: 0px;
    }

    .favLegislatorImage {
        max-width: 75%;
    }

    #favouriteLegislatorDetails, #favouriteBillDetails {
        overflow-y: auto;
    }
}